{% extends 'layout.html' %}
{% load static %}

{% block 'main' %}
    <div class="row"> 
        <div class="col-md-8">
            {% for msg in messages %}
                {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success" role="alert">
                        {{ msg }}
                    </div>
                {% endif %}
            {% endfor %}
            {% for cart in mycart %}
                <div class="row mt-2">
                    <div class="col-md-6">
                        <img src="{{ cart.pid.pimage.url }}" class="card-img-top" alt="..." style="width:100%; height:200px;">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">Name:&nbsp;{{ cart.pid.name }}</h5>
                            <strong class="card-text">Breed:&nbsp;{{cart.pid.breed}} &nbsp; {{cart.pid.type}}</strong><br>
                            <strong>Info: {{cart.pid.age}}&nbsp;months&nbsp;{{cart.pid.gender}}</strong><br>
                            <strong>Details:</strong><p>{{cart.pid.details}}</p>
                            <strong>Price:{{ cart.pid.price }}</strong><br> 
                          </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <h4 class="bg-primary" data-bs-theme="dark">Billing section</h4>
            <h5>Number of Pets: {{ count }}</h5>
            <h5>Amount to be paid: {{total}}</h5>
            <a class="btn btn-primary" href="/makepayment">Make Payment</a> &nbsp;
            <a class="btn btn-primary" href="/mycart">Back</a>
        </div>
    </div>
{% endblock 'main' %}