 {% load static %}
 <!-- start of row 3 footer  -->
 <div class="row mt-2" >
    <div class="col-4">
      <p> <i class="bi bi-geo-alt-fill"></i> <br>
        2nd Floor, Ishaan Arcade-1, Opposite Gaondevi Mandir, Above Canara bank, Gokhale Road,Landmark: 3 Buildings after McDonalds, Thane (West) 400602</p>
    </div>
    <div class="col-4">
       <a href="aboutus.html">Know About Us</a>  <br>
       <a href="contact.html">Locate Us</a>
    </div>
    <div class="col-4">
      <h6>Feel free to connect with us</h6>
      <i class="bi bi-telephone-fill"></i>&nbsp;&nbsp;9123456789<br>
      <i class="bi bi-envelope"></i>&nbsp;&nbsp;officeemail@gmail.com <br>
      <i class="bi bi-whatsapp"></i>&nbsp;&nbsp;9123456789<br>
      <i class="bi bi-linkedin"></i><br>
      <i class="bi bi-facebook"></i><br>
      <i class="bi bi-twitter"></i><br>
      <i class="bi bi-cart-check-fill"></i>
    </div>
</div>
</div>

<!-- <h2>This is the demo of bootsrap</h2> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script> -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>