{% extends 'layout.html' %}
{% load static %}

{% block 'main' %}
<div class="col-md-4 mx-auto  shadow p-2 rounded">
    <h3>Registration Form</h3>
        {% if error %}
            <div class="alert alert-danger" role="alert">
                    {{ error }}
            </div>
        {% endif %}
    <form action="/register" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label  class="form-label">Username</label>
            <input type="text" class="form-control" name="username" >
        </div>
        <div class="mb-3">
            <label  class="form-label">Email</label>
            <input type="email" class="form-control" name="email">
        </div>
        <div class="mb-3">
            <label  class="form-label">Password</label>
            <input type="password" class="form-control" name="password" >
        </div>
        <div class="mb-3">
            <label  class="form-label">Confirm Password</label>
            <input type="password" class="form-control" name="confirmpass" >
        </div>
        <input type="submit" class="btn btn-primary" value="Register">&nbsp; &nbsp;
        <h6>Already a user? <a href="/login">Sign in</a> here</h6>
    </form>
 </div>
{% endblock 'main' %}