<!-- row 2 started  -->
<div class="row" >
    <!-- row2 column 1 started -->
    <div class="col-3 p-2 bg-body-tertiary" >
        <h5>Filter Products By category</h5>
        <a href="/">All</a><br>
        <a href="/searchby/cat">Cat</a><br>
        <a href="/searchby/dog">Dog</a><br>        
        <hr>
        <h5>Sort By Price</h5>
        <a href="/sort/asc">Low to High</a><br>
        <a href="/sort/desc">High To Low</a>
        <hr>
        <h5>Search products by Price</h5>
        <form class="row g-3" action="/pricerange">
          <div class="col-auto">
            <label  >From:</label>
            <input type="text"  class="form-control" name="min" >
          </div><br>
          <div class="col-auto">
            <label  >To:</label>
            <input type="text" class="form-control" name="max" >
          </div>
          <div class="col-auto mx-auto">
            <input type="submit" class="btn btn-primary " value="Search"></input>
          </div>
        </form>

    </div><!-- row2 column 1 end -->